body{
    background-color: #808080;
}

#calculadora{
    background-color: #808080;
    box-shadow: 0 0 1em #000;
    width: 350px;
    height: 400px;
    border-radius: 5px 5px;
    position: relative;
    top: 10em;
    left: 30em;
    text-align: center;
}

#resultado{
    background-color: #FFF;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    padding: 10px;
    left: 10px;
    top: 10px;
    text-align: right;
}
 .row{
    display: flex;
    flex-wrap: wrap;
 }
.btn{
    width: 70px;
    height: 50px;
    position: relative;
    margin: 5px;
    left: 1.5em;
    top: 20px;
    box-shadow: 1px 1px 1px #000;
    display: inline-block;
}
.clear, .zero{
    position: relative;
    width: 150px;
    height: auto;
}

.enter{
    display: block;
    position: relative;
    height: 110px;
}

